html {
    background-color: #004878;
}

#root {
    background: #004878;
}

#playInterface {
    /*bottom: 0;*/
}

.outerBox {
    color: white;
    background-color: #00005e;
    margin: 20px;
    height: 500px;
    padding-top: 10px;
    border-style: solid;
    box-shadow: 7px 10px 10px rgba(0, 0, 0, .5);
    border-radius: 15px;
    border-color: black;
}

.innerBox {
/* BUILD innerBox FORMATTING HERE */
}

#header {
    text-align: center;
}

#test {
    text-align: center;
    color: orangered;
}